---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
- **Summer 2026:** 
 > <font color="grey">Lecturer</font> Intelligent Agents 1 (University of Luxembourg)
 > <font color="grey">Teaching Assistant</font> Intelligent Systems 2 (University of Luxembourg)
- **Winter 2026:**
 > <font color="grey">Teaching Assistant</font> Künstliche Intelligenz: Spielprogrammierung für TwixT (FernUniversität in Hagen)


#{% include base_path %}

#{% for post in site.teaching reversed %}
#  {% include archive-single.html %}
#{% endfor %}
